<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tureguideversion1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.UserProfile" />
        <activity android:name=".Activities.Term_And_Condition" />
        <activity android:name=".Activities.SignIn" />
        <activity android:name=".Activities.SignInGrantAccess" />
        <activity android:name=".Activities.SignUp" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>